body .page{
    min-height: 100vh;
}

.page{
    display: grid;
    position: absolute;
    grid-template-areas: 'cabecera cabecera'
                         'lateral contenido'
                         'footer footer';
    
    grid-template-rows: 10% auto 10%;
}

header{
    display: grid;
    grid-template-columns: 30% auto auto auto;
    grid-area: cabecera;
    border: 1px solid black;
    background-color: whitesmoke;
}

section{
    grid-area: contenido;
    border: 1px solid black;
    background-color: whitesmoke
}

aside{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    border: 1px solid black;
    background-color: whitesmoke
}

footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: whitesmoke
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

.links{
    text-align: center;
    justify-content: center;
}

.l1{
    margin: 40px;
}

.l2{
    margin: 40px;
}

.l3{
    margin: 40px;
}

.inicio{
    display: flex;
    flex-direction: row;
    position: relative;
}

.inicio2{
    display: grid;
    grid-template-columns: auto auto auto;
}

.reviews{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}